html{
    background-color: aquamarine;
}

.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    column-count: 3;
    column-gap: 40px;
    column-rule: solid 2px red;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title:hover{
    color: blueviolet;
    font-size: larger;
}

.text::selection{
    color:bisque;
    background-color: brown;
    font-size: larger;
}

