html, body,div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(0, 0, 0);
}

img{
    position: relative;
    top: 0;
}